.jumbotron.jumbotron-fluid#jumbotron
  .container
    h1.display-4#title 
        span(style='color: #4885ed') G
        span(style='color: #db3236') o
        span(style='color: #f4c20d') o
        span(style='color: #4885ed') g
        span(style='color: #3cba54') l
        span(style='color: #db3236') e
        span() 
        span(style='color: black') A
        span(style='color: black') P
        span(style='color: black') I
        span(style='color: black') 's

    p.lead
      Hello Thank you for choosing Google



