script.
  key='#{key}'
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title maps
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  link(href='https://fonts.googleapis.com/css?family=Dosis|Sigmar+One' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
body
include includes/header
ul#navBar.nav.nav-pills
  li.nav-item
    a.nav-link(href='/') Home
  li.nav-item
    a.nav-link.active(href='/maps') Maps
  li.nav-item
    a.nav-link(href='/youtube') Youtube
  li.nav-item
    a.nav-link(href='/url') URL Shortener
.mapContainer
  #map


#textButtonMaps.container
  .row
    input#mapInput(type='text')
//-   .row
//-     button#mapSubmit.waves-effect.waves-light.btn(type='button') Submit

script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
script(src="/scripts/maps.js")
script(async='' src=`https://maps.googleapis.com/maps/api/js?key=${key}&callback=initMap`)
