script.
  key='#{key}'
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title youtube
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
  link(href='https://fonts.googleapis.com/css?family=Dosis|Sigmar+One' rel='stylesheet')
  link(rel='stylesheet' href='/css/style.css')
body
include includes/header
ul.nav.nav-pills
  li.nav-item
    a.nav-link(href='/') Home
  li.nav-item
    a.nav-link(href='/maps') Maps
  li.nav-item
    a.nav-link.active(href='/youtube') Youtube
  //- li.nav-item
  //-   a.nav-link(href='/url') URL Shortener

#textButton.container
  .row
    input#youtubeInput(type='text')
  .row
    button#youtubeSubmit.waves-effect.waves-light.btn(type='button') Submit
  div#output


#videoFields.containter
  #row1.row
    .col-sm-6
      h5#vid0Title
      #vidPic0.pics
      a#vid0.btn.btn-info.vids View video
     
    .col-sm-6
      h5#vid1Title
      #vidPic1.pics
      a#vid1.btn.btn-info.vids View video

  #row2.row
    .col-sm-6
      h5#vid2Title
      #vidPic2.pics
      a#vid2.btn.btn-info.vids View video

    .col-sm-6
      h5#vid3Title
      #vidPic3.pics
      a#vid3.btn.btn-info.vids View video

  #row3.row
    .col-sm-6
      h5#vid4Title
      #vidPic4.pics
      a#vid4.btn.btn-info.vids View video

    .col-sm-6
      h5#vid5Title
      #vidPic5.pics
      a#vid5.btn.btn-info.vids View video

  #row4.row
    .col-sm-6
      h5#vid6Title
      #vidPic6.pics
      a#vid6.btn.btn-info.vids View video

    .col-sm-6
      h5#vid7Title
      #vidPic7.pics
      a#vid7.btn.btn-info.vids View video

  #row5.row
    .col-sm-6
      h5#vid8Title
      #vidPic8.pics
      a#vid8.btn.btn-info.vids View video

    .col-sm-6
      h5#vid9Title
      #vidPic9.pics
      a#vid9.btn.btn-info.vids View video




script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
script(src="/scripts/youtube.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
//- script(async='' defer='' src='https://apis.google.com/js/api.js' onload='this.onload=function(){};handleClientLoad()' onreadystatechange="if (this.readyState === 'complete') this.onload()")

